.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container h3,
.container h4 {
	margin-top: 1.3rem;
}

.container label {
	color: var(--font-dark);
}

.container p {
	font-size: var(--font-xs);
}
